

<h4><center>Menu</center></h4>

<h4><center>Members</center></h4>

<h4><center>Activities</center></h4>

<ul class="list-group">
  <li class="list-group-item actvitiy-item"><div id="insert-activity"></div></li>
</ul>