<form role="form" id="add-board-form">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" placeholder="Untitled Board" name="board[title]">
  </div>
  <div class="form-group">
    <label for="organization">Organization</label>
    <select class="form-control">
      <option>GOAT ORGANIZATIOn</option>
      <option>app academy</option>
      <option>The NBA</option>
      <option>Apple</option>
      <option>Microsoft</option>
    </select>>
  </div>
  <button id="add-board" type="button" class="btn btn-default">Submit</button>
  <li class="divider"></li>
</form>

<!-- <script type="text/javascript" charset="utf-8">
  var dropdownView = new HF.Views.DropdownAdd({$el: $('#dropdown-add')})
</script> -->

<script type="text/javascript">
    $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
    });
</script>