<div class="col-xs-3">
  <h3>
    <div id="edit-list-title-form">
      <a href="#" id="open-list-title-edit-form"><%=list.get('title')%>
      </a>
    </div>
  </h3>
  <ul>
    <div id="insert-card" class="list-group">
    </div>
    <li><button class="btn btn-success btn-md" id="show-card-form">
      Create Card</button></li>
    <div id="place-card-form"></div>
    <li><button class="btn btn-warning btn-sm" id="delete-list">
      Remove List</button></li>
  </ul>
</div>


