<div class="col-xs-3">
  <h3>
    <div id="edit-list-title-form">
      <a href="#" id="open-list-title-edit-form"><%=list.get('title')%>
      </a>
    </div>
  </h3>
  <ul>
    <div id="insert-card" class="list-group">
    </div>
    <div id="place-card-form">
    <li><button class="btn btn-success btn-md" id="show-card-form">
      Create Card</button></li>
    </div>
    <li><button class="btn btn-danger btn-sm" data-toggle="modal"
      data-target="#DeleteListModal<%=list.id%>">Delete List</button>
  </ul>
</div>

<!-- delete list modal-->
<div class="modal fade" id="DeleteListModal<%=list.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">®
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Are you sure you want to delete <%= list.get('title')%>?</h3>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary"
         data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger"
         id="delete-list"><i class="glyphicon glyphicon-trash"></i> Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

