  <div class="col-xs-3">
    <h3><a href="#"><%=list.get('title')%></a></h3>
    <ul>
      <div id="insert-card" class="list-group">
      </div>
      <li><button class="btn btn-success btn-md" id="show-card-form">
        Create Card</button></li>
      <div id="place-card-form"></div>
      <li><button class="btn btn-warning btn-sm" id="delete-list">
        Remove List</button></li>
    </ul>
  </div>
