<% lists.each(function(list) { %>
  <div class="col-xs-4">
    <h3><a href="#"><%=list.get('title')%></a></h3>
      <ul>
        <div id="insert-card">
        </div>
      </ul>
  <br><button id="delete-list">Remove List</button>

  </div>
<% }); %>
