<div class="col-xs-4">
  <h3><a href="#"><%=list.get('title')%></a></h3>
  <ul>
    <div id="insert-card">
    </div>
    <li><button class="btn btn-success btn-md" id="create-card">
      Create Card</button></li>
    <li><button class="btn btn-warning btn-sm" id="delete-list">
      Remove List</button></li>
  </ul>
</div>
