<form id="submit-checklist-item">
  <label for="checklist_title">Title</label>
  <input type="text" name="title" id="checklist_title">

  <input type="hidden" name="checklist_id" value="<%= checklist.id %>">
  <input type="submit" value="Add Item">
</form>