<!-- dropdown title renamer -->
<h1>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle"
       data-toggle="dropdown"><%= board.get('title')%></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-board">
       <li tabindex="-1" href="#" class="dropdown-header"> Rename Board</li>
       <li role="presentation" class="divider"></li>
       <li tabindex="-1" href="#">
         <form>
           <label>Name</label>
           <input type="text" value="<%=board.get('title')%>">
           <input type="submit" value="Rename">
         </form>
       </li>
     </ul>
  </div>
</h1>

<script type="text/javascript">
    $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
    });
</script>

<!-- lists view insertation-->
<section class="container">
  <div class="row" id="insert-list">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
         data-toggle="dropdown"><%= board.get('title')%></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-board">
         <li tabindex="-1" href="#" class="dropdown-header"> Add a list..</li>
         <li role="presentation" class="divider"></li>
         <li tabindex="-1" href="#">
           <form>
             <input type="text" name="list[title]">
             <input id="add-list" type="submit" value="Add">
           </form>
         </li>
       </ul>
     </div>
  </div>
</section>