<h1><button id="rename-title"><%= board.get('title')%></button></h1>


<section class="row">
  <% lists.each(function(list) { %>
    <div class="col-xs-4">
      <h3><a href="#"><%=list.get('title')%></a></h3>
        <ul>
        <% cards.each(function(card) { %>
          <% if (card.get('list_id') == list.id) { %>
            <div class="list-group">
              <!-- QUESTIONABLE DECISION HREF?! BUTTON? -->
              <a href="#cards/<%=card.id%>" class="list-group-item">
                <%= card.get('title') %></a>
            </div>
          <% }; %>
        </ul>
    <%    }); %>
    </div>
  <% }); %>
</section>