<!-- START Dropdown title renamer -->
<h1>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle"
       data-toggle="dropdown"><%= board.get('title')%></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-board">
       <li tabindex="-1" href="#" class="dropdown-header"> Rename Board</li>
       <li role="presentation" class="divider"></li>
       <li tabindex="-1" href="#">
         <form id="new-title-form">
           <label>Name</label>
           <input type="text" placeholder="<%=board.get('title')%>" name="title">
           <button id="rename-title" type="submit">Rename</button>
         </form>
       </li>
     </ul>
  </div>
</h1>
<!-- END Dropdown title renamer -->

<!-- lists view insertation-->
<section class="container">
  <div class="row" id="insert-list">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle"
         data-toggle="dropdown">Add a list...</button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-board">
         <li tabindex="-1" href="#" class="dropdown-header"> A shiny new list...</li>
         <li role="presentation" class="divider"></li>
         <li tabindex="-1" href="#">
           <form id="add-list-form">
             <input type="text" name="list[title]">
             <input type="hidden" value="<%= board.id %>" name="list[board_id]">
             <button  id="add-list" type="button">Add</button>
           </form>
         </li>
       </ul>
     </div>
  </div>
</section>


<script type="text/javascript">
    $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
    });
</script>