<h1><center><%= user.get('username') %></center></h1>

<div class="container">
  <ul class="list-group col-xs-4">
    <li class="list-group-item"><strong><center>Boards</center></strong></li>

    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>