<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
     data-toggle="dropdown"><h6><%= checklist.get('title') %></h6></button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-board">
     <li tabindex="-1" href="#" class="dropdown-header">Rename Board</li>
     <li role="presentation" class="divider"></li>
     <li tabindex="-1" href="#">
       <form id="new-title-form">
         <label>Name</label>
         <input type="text" name="title">
         <button id="rename-title" type="submit">Rename</button>
       </form>
     </li>
   </ul>
   <!-- open checklist item form -->
   <br>
   <div id="insert-checklist-items"></div>
</div>
<br>
<a href="#" id="open-checklist-item-form">Add Item</a>


