<div class= "col-xs-2 btn-group-vertical">
  <center><h4>Labels</h4></center>
  <div id="render-label"></div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Edit Label...</button>
    <ul class="dropdown-menu">
      <li><button class="card-label" id="#228B22;"
         style="background-color:#228B22;"></li>
      <li><button class="card-label" id="#FFFF00;"
         style="background-color:#FFFF00;"></li>
      <li><button class="card-label" id="#FF4500;"
        style="background-color:#FF4500;"></li>
      <li><button class="card-label" id="#FF0000;"
        style="background-color:#FF0000;"></li>
      <li><button class="card-label" id="#800080;"
        style="background-color:#800080;"></li>
      <li><button class="card-label" id="#0000FF;"
        style="background-color:#0000FF;"></li>
    </ul>
  </div>
  <center><h4>Members</h4></center>
  <button type="button" class="btn btn-primary">
    Assign...</button>
  <center><h4>Actions</h4></center>
  <!-- Add Checklist -->
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Add Checklist...</button>
    <ul class="dropdown-menu">
      <div class="form-group">
        <form id="submit-checklist">
          <label for="title">Title</label>
          <input type="text" id="title" name="title">
          <!-- no copy items from capability yet -->
          <input type="submit" value="Add">
        </form>
      </div>
    </ul>
  </div>

  <button type="button" class="btn btn-primary">Due Date...</button>
  <button type="button" class="btn btn-primary">Attach File...</button>
  <!-- Move... -->
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle"
     data-toggle="dropdown">Move...</button>
    <ul class="dropdown-menu">
      <form id="card-move-form">
        <li>
          <div class="form-group">
            <label for="boards">Boards</label>
            <select class="form-control" onchange="">
              <option>GOAT ORGANIZATIOn</option>
              <option>app academy</option>
              <option>The NBA</option>
              <option>Apple</option>
              <option>Microsoft</option>
            </select>
            <label for="lists">Lists</label>
            <select class="form-control" onchange="">
              <option>GOAT ORGANIZATIOn</option>
              <option>app academy</option>
              <option>The NBA</option>
              <option>Apple</option>
              <option>Microsoft</option>
            </select>
            <label for="postions">Positions</label>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </li>
      </form>
    </ul>
  </div>
  <button type="button" class="btn btn-primary">Subscribe</button>
  <button type="button" class="btn btn-primary">Vote</button>
  <button type="button" class="btn btn-primary">Archive</button>
</div>

<script type="text/javascript">
    $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
    });
</script>

