<div class= "col-xs-2 btn-group-vertical">
  <center><h4>Labels</h4></center>
  <button type="button" class="btn btn-primary">
    Edit Labels...</button>
  <center><h4>Members</h4></center>
  <button type="button" class="btn btn-primary">
    Assign...</button>
  <center><h4>Actions</h4></center>
  <button type="button" class="btn btn-primary">Add Checklist...</button>
  <button type="button" class="btn btn-primary">Due Date...</button>
  <button type="button" class="btn btn-primary">Attach File...</button>
  <button type="button" class="btn btn-primary" id="card-move">Move...</button>
  <button type="button" class="btn btn-primary">Subscribe</button>
  <button type="button" class="btn btn-primary">Vote</button>
  <button type="button" class="btn btn-primary">Archive</button>
</div>