<div class="modal fade" id="CardModal<%=card.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
      <!-- title -->
        <div class="row">
          <div class="modal-header col-xs-6">
            <button type="button" class="close" data-dismiss="modal"
             aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">
          <!-- INSERT title view-->

              <div id="insert-title"></div>
            </h4>
          <!-- INSERT THE FUCKING DESCRIPTION DAMNIT -->
            <div id="insert-description"></div>
          </div>
        </div>

        <div class="row">
          <ul>
            <div class="modal-body col-xs-4">
              <strong>Checklists</strong>
              <div id="insert-checklist">
              </div>
              <!-- insert comments -->
              <strong>Comments</strong>
              <div id="insert-comment">
              </div>
            </div>
          </ul>
          <div id="render-button-list">
          </div>
        </div>
        <!-- insert comment form -->
        <div class="row">
          <div class="col-xs-5">
            <form id="add-comment-form">
              <textarea row="4" cols="60" name="body"></textarea><br>
              <input type="hidden" value="<%= card.id %>"  name="card_id">
              <input id="create-comment" type="submit" value="Comment">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger"
             id="delete-card">Delete Card</button>
          </div>
          </div>
        </div>
      </div><!-- container -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- <form>
<textarea row="4" cols="50" style="width: 550px; height: 200px;" name="card[description]"></textarea>
<input type="submit" Value="Save">
</form> -->

        <!-- <a href="#" id="insert-description" value="< card.escape('description') %>">Edit description...</a> -->
