/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
  padding-top: 70px;
  margin: 0auto;
}

.modal-body {
max-height: 800px;
}

.modal-backdrop {
    z-index: 1020;
}

.card-label {
  float: left;
  width: 155px;
  height: 20px;
  margin: 5px 5px 5px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.2);
}

.left-inner-addon {
  position: relative;
  border-color: black;
  border: solid-thick;
}

.left-inner-addon i {
  position: absolute;
  padding-top: 12px;
  padding-left: 2px;
  pointer-events: none;
}

.invisible-textarea {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}

.green {
    color: green;
}

#content {
    margin-left: 5px;
}

#mapCanvas img {
    max-width: none;
}

#toggleSidebar {
    position:fixed;
    left:0;
    top:45px;
    display:block;
    color:#779DD7;
    padding:2px 4px;
}


.accordion-heading .accordion-toggle-small {
    display: block;
    padding: 4px 8px; /*8px 15px;*/
}

.accordion-inner-small {
    padding: 4px 8px;  /*9px 15px;*/
    border-top: 1px solid #e5e5e5;
}

.no-sidebar {
    margin-left:0 !important;
}

.scrollDiv {
    overflow-y: scroll;
    display: inline-block;
    float: none; /* Very important */
}